<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <title>Deploy Tools</title>
    <style>
        table {
          table-layout: fixed;
        }
        .form-inline {
            text-align: center;
        }
        .scroll {
            overflow-x: scroll;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container" >
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Deploy Tools</a>
        </div>
        <ul class="nav navbar-nav">
            {% for p in periods %}
                {% for s in statuses %}
                <li {% if period == p and status == s and not fact %}class="active"{% endif %}><a href="/{{ s }}/{{ p }}/{{ year }}/{{ month }}/{{ day }}">{{ p|title }} {{ s|title }}</a></li>
                {% endfor %}
            {% endfor %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/admin">Login</a></li>
        </ul>
        <ul class="nav navbar-nav">
            <li {% if fact %}class="active"{% endif %}><a href="/deploymentfact/show/{{ status }}/{{ period }}/{{ year }}/{{ month }}/{{ day }}">Deploy Fact</a></li>
        </ul>
    </div>
</nav>
<div class="container-fluid">
    <ul class="pager">
        <li class="previous"><a href="/{{ status }}/{{ period }}/{{ prev_period.year }}/{{ prev_period.month }}/{{ prev_period.day }}">Previous</a></li>
        <li class="next"><a href="/{{ status }}/{{ period }}/{{ next_period.year }}/{{ next_period.month }}/{{ next_period.day }}">Next</a></li>
    </ul>
{% block content %}{% endblock content %}
</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>
