{% extends "base.html" %}

{% block content %}
    <h2 class="sub-header">Release Calendar</h2>
    <table class="table table-bordered">
        {% load release_extras %}
        <tbody>
        {% for day in days %}
        <tr>
            <td class="col-md-2" style="min-width: 5px">
                <b>{{ day }}</b>
            </td>
            {% for i in max_releases_range %}
                <td class="col-md-2">
                {% with release=releases|index:day %}
                    {% if release|length > i %}
                      {% with r=release|index:i %}
                        <a href="/admin/release/release/{{ r.pk }}/">{{ r.name }}</a><br/><br/>
                        <b>Environments: </b><br/>
                        <ul style="overflow-x: scroll">
                        {% for environment in r.environments.all %}
                            <li>{{ environment }}</li>
                        {% endfor %}
                        </ul>
                        <b>Manager: </b>{{ r.manager }}<br/>
                        <b>Status: </b>{{ r.get_status_display }}<br/>
                        <b>Start Time: </b>{{ r.start_time }}<br/>
                        <b>End Time: </b>{{ r.end_time }}<br/>
                        <b>Artifacts:</b><br/>
                        <ul>
                        {% for artifact in r.artifacts.all %}
                            <li>{{ artifact }}</li>
                        {% endfor %}
                        </ul>
                      {% endwith %}
                    {% endif %}
                {% endwith %}
                </td>
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}

