<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <title>Deploy Tools</title>
    <style>
        table {
          table-layout: fixed;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container" >
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Deploy Tools</a>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <h2 class="sub-header">Release Calendar</h2>
    <table class="table table-bordered">
        <thead>
        <tr>
        {% load release_extras %}
        {% for day in days %}
            <th>{{ day }}</th>
        {% endfor %}
        {% for i in max_releases_range %}
        </tr>
        </thead>
        <tbody>
        <tr>
            {% for day in days %}
                <td>
                {% with release=releases|index:day %}
                    {% if release|length > i %}
                      {% with r=release|index:i %}
                        {{ r.name }}<br/><br/>
                        <b>Environment: </b>{{ r.environment }}<br/>
                        <b>Manager: </b>{{ r.manager }}<br/>
                        <b>Status: </b>{{ r.get_status_display }}<br/>
                        <b>Start Time: </b>{{ r.start_time }}<br/>
                        <b>End Time: </b>{{ r.end_time }}<br/>
                        <b>Artifacts:</b><br/>
                        <ul>
                        {% for artifact in r.artifacts.all %}
                            <li>{{ artifact }}</li>
                        {% endfor %}
                        </ul>
                      {% endwith %}
                    {% endif %}
                {% endwith %}
                </td>
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>
